<div class="bk-answer-save-dialog">
    <div class="bk-dialog-field">
        <div class="label">{{strings.Name2}}</div>
        <input blink-auto-select
               class='bk-name-text'
               type="text" ng-model="$ctrl.data.customData.questionHeader"
               spellcheck="false">
    </div>
    <div class="bk-dialog-field">
        <div class="label">{{strings.Description}}</div>
        <textarea class="description-text"
                  ng-model="$ctrl.data.customData.questionDescription"
                  spellcheck="false"></textarea>
    </div>
</div>