<div class="bk-vertical-flex-container-sized">
    <div class="bk-metadata-list bk-admin">
        <bk-secondary-button text="{{ userManagement.addUserButtonLabel }}"
                             icon="bk-style-icon-small-plus"
                             ng-click="createUser()"
                             class="bk-add-user-button"
                             ng-if="showAddUserButtonDropdown"></bk-secondary-button>
        <bk-secondary-button text="{{ userManagement.addGroupButtonLabel }}"
                             icon="bk-style-icon-small-plus"
                             ng-click="createGroup()"
                             class="bk-add-group-button"
                             ng-if="showAddGroupButtonDropdown"></bk-secondary-button>
        <bk-secondary-button text="{{ userManagement.addRoleButtonLabel }}"
                             icon="bk-style-icon-small-plus"
                             ng-click="createRole()"
                             class="bk-add-role-button"
                             ng-if="showAddRoleButtonDropdown"></bk-secondary-button>
        <div class="tab-navigation">
            <tab-control header-class="primary-nav" on-tab-activated="onPrimaryTabActivated(activeTab)">
                <tab-control-tab tab-name="{{ userManagement.tabHeader }}"
                                 tab-id="{{ userManagement.tabId }}">
                    <tab-control on-tab-activated="onSecondaryTabActivated(activeTab)">
                        <tab-control-tab tab-name="{{ userManagement.tabUsers.name }}"
                                         tab-id="{{ userManagement.tabUsers.id }}">
                            <metadata-list-page bk-ctrl="userListCtrl" class="bk-table-list"></metadata-list-page>
                        </tab-control-tab>
                        <tab-control-tab tab-name="{{ userManagement.tabGroups.name }}"
                                         tab-id="{{ userManagement.tabGroups.id }}">
                            <metadata-list-page bk-ctrl="groupListCtrl" class="bk-table-list"></metadata-list-page>
                        </tab-control-tab>
                        <tab-control-tab ng-if="isRoleEnabled"
                                         tab-name="{{ userManagement.tabRoles.name }}"
                                         tab-id="{{ userManagement.tabRoles.id }}">
                            <metadata-list-page bk-ctrl="roleListCtrl" class="bk-table-list"></metadata-list-page>
                        </tab-control-tab>
                    </tab-control>
                </tab-control-tab>
                <tab-control-tab tab-name="{{ dataManagement.tabHeader }}"
                                 tab-id="{{ dataManagement.tabId }}">
                    <tab-control>
                        <tab-control-tab tab-name="{{ dataManagement.tabBusinessDataModel.name }}"
                                         tab-id="dataManagement.tabBusinessDataModel.id">
                            <div class="bk-file-upload-metadata tab-content">
                                <div ng-include="'src/modules/admin/file-upload-metadata.html'"></div>
                            </div>
                        </tab-control-tab>
                        <tab-control-tab tab-name="{{ dataManagement.tabDataSecurity.name }}"
                                         tab-id="{{ dataManagement.tabDataSecurity.id }}">
                            <div class="bk-file-upload-metadata tab-content">
                                <div ng-include="'src/modules/admin/file-upload-security.html'"></div>
                            </div>
                        </tab-control-tab>
                    </tab-control>
                </tab-control-tab>
                <tab-control-tab tab-name="{{ healthManagement.tabHeader }}"
                                 tab-id="{{ healthManagement.tabId }}"
                                 class="larger-content">
                    <tab-control on-tab-activated="onSecondaryTabActivated(activeTab)">
                        <tab-control-tab tab-name="{{ healthManagement.tabOverview.name }}"
                                         tab-id="{{ healthManagement.tabOverview.id }}">
                            <div class="tab-content" ng-controller="PinboardPageController">
                                <pinboard-page class="bk-health-management-overview-pinboard"
                                               hide-panel="true"
                                               dont-watch-url="true"
                                               id="healthManagement.tabOverview.guid"
                                               pinboard-page-config="pinboardPageConfig">
                                </pinboard-page>
                            </div>
                        </tab-control-tab>
                        <tab-control-tab tab-name="{{ healthManagement.tabData.name }}"
                                         tab-id="{{ healthManagement.tabData.id }}">
                            <div class="tab-content" ng-controller="PinboardPageController">
                                <pinboard-page class="bk-health-management-data-pinboard"
                                               hide-panel="true"
                                               dont-watch-url="true"
                                               id="healthManagement.tabData.guid"
                                               pinboard-page-config="pinboardPageConfig">
                                </pinboard-page>
                            </div>
                        </tab-control-tab>
                        <tab-control-tab tab-name="{{ healthManagement.tabCluster.name }}"
                                         tab-id="{{ healthManagement.tabCluster.id }}">
                            <div class="tab-content" ng-controller="PinboardPageController">
                                <pinboard-page class="bk-health-management-cluster-pinboard"
                                               hide-panel="true"
                                               dont-watch-url="true"
                                               id="healthManagement.tabCluster.guid"
                                               pinboard-page-config="pinboardPageConfig">
                                </pinboard-page>
                            </div>
                        </tab-control-tab>
                        <tab-control-tab tab-name="{{ healthManagement.tabAlert.name }}"
                                         tab-id="{{ healthManagement.tabAlert.id }}">
                            <div class="tab-content" ng-controller="PinboardPageController">
                                <pinboard-page class="bk-health-management-alert-pinboard"
                                               hide-panel="true"
                                               dont-watch-url="true"
                                               id="healthManagement.tabAlert.guid"
                                               pinboard-page-config="pinboardPageConfig">
                                </pinboard-page>
                            </div>
                        </tab-control-tab>
                    </tab-control>
                </tab-control-tab>
                <tab-control-tab tab-name="{{ styleCustomization.tabHeader }}"
                                 tab-id="{{ styleCustomization.tabId }}"
                                 ng-if="isStyleCustomizationEnabled">
                    <tab-control>
                        <tab-control-tab tab-name="{{ styleCustomization.tabRules.name }}"
                                         tab-id="{{ styleCustomization.tabRules.id }}">
                            <div class="tab-content">
                                <bk-style-customizer bk-ctrl="styleCustomizer"></bk-style-customizer>
                            </div>
                        </tab-control-tab>
                    </tab-control>
                </tab-control-tab>
                <tab-control-tab tab-name="{{ jobManagement.tabHeader }}"
                                 tab-id="{{ jobManagement.tabId }}"
                                 ng-if="isSchedulingEnabled">
                        <div class="primary-tab-content bk-data-list">
                            <bk-job-status-viewer  class="status-viewer"
                                                ng-if="shouldShowStatusViewer"
                                                bk-ctrl="jobStatusViewerCtrl"></bk-job-status-viewer>
                            <metadata-list-page bk-ctrl="jobsListCtrl" class="bk-table-list"></metadata-list-page>
                        </div>
                </tab-control-tab>
            </tab-control>
        </div>
    </div>
    <script type="text/ng-template" id="admin-author-column.html">
        <blink-profile-pic user-id="column.format(row)[0]"
                            user-display-name="column.format(row)[1]"
                            class="bk-profile-pic">
        </blink-profile-pic>
    </script>
</div>

