.tscache/*
app/.tmp/*
app/all.css
app/index.html
app/lib/gen-files/*
app/lib/min/thrift.min.js
app/lib/src/thrift/gen-files/*
app/pattern.html
app/resources/messaging/message_codes.bin
app/resources/strings/translations/*
app/resources/strings/strings.ts
app/src/.baseDir.ts
benchmark/
node_modules/*
package-lock.json
scripts/messaging/message_codes_pb2.py
test/coverage/*
test/e2e-screen-shots/*
test/results/*
tscommand-*
typings/*
