<div class="deck search-video">
    <div class="title">{{strings.Are_you}}</div>
    <div class="content">
{{strings.This_video_shows}}
<iframe src="//fast.wistia.net/embed/iframe/ffg9r6ccbv?videoFoam=true" allowtransparency="true" frameborder="0"
                scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="267" height="150"></iframe>
        <script src="//fast.wistia.net/assets/external/E-v1.js"></script>
    </div>
</div>